<%= form_for Message.new do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class:"form-control" %>
  </div>
  <%= f.submit nil, class:"btn btn-primary" %>
<% end %>
<hr>
<form id="js-socket">
  <label>
    <input type="text" placeholder="Type something..." />
    WebSocket Style
  </label>
</form>
<hr>


<div class="jmessages list-group">
  <%= render @messages %>
</div>
